<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPO_PUBLIC_FIREBASE_API_KEY</key>
	<string>AIzaSyB8xa8BsRVbJWzhtkvm1dXfF9swp6jvVdQ</string>
	<key>EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN</key>
	<string>homeswipe-59d71.firebaseapp.com</string>
	<key>EXPO_PUBLIC_FIREBASE_PROJECT_ID</key>
	<string>homeswipe-59d71</string>
	<key>EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET</key>
	<string>homeswipe-59d71.firebasestorage.app</string>
	<key>EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID</key>
	<string>833656475383</string>
	<key>EXPO_PUBLIC_FIREBASE_APP_ID</key>
	<string>1:833656475383:web:31a397629a4a84b6f6cdf2</string>
	<key>EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID</key>
	<string>G-1JCP5E2MMW</string>
</dict>
</plist>
